name: HACS validation
on:
  push:
    branches:
      - main
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: HACS validation
        uses: 'hacs/action@main'
        with:
          category: 'integration'
          # Remove this 'ignore' key when you have added brand images for your integration to https://github.com/home-assistant/brands
          # ignore: "brands"
